@import url("./reset.css");

#view{
	width: 50vw;
	height: 50vh;
	display: block;
}

#changer{
	position: absolute;
	right: 10vw;
	top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
}

.before{
	margin: 15px;
}

.next{
	margin: 15px;
}

#custom_character{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#image_upload{
	margin: 10px;
}

#make_character{
	width: 100px;
	margin: 10px;
}